ADK_6.2.43/**/*.a
ADK_6.2.43/**/*.d
ADK_6.2.43/**/*.o
ADK_6.2.43/**/*.xuv
ADK_6.2.43/**/*.log
ADK_6.2.43/**/*.compile
ADK_6.2.43/apps/fw/build/
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/CF376_CF440/depend_debug_aura/
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/CF376_CF440/earbud.x2p.user
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/CF376_CF440/fw_cfg_filesystem.x2p.user
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/common/cur_cfg_filesystem.x2p.user
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/common/customer_ro_filesystem.x2p.user
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/common/deploy.x2p.user
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/common/dev_cfg_filesystem.x2p.user
ADK_6.2.43/apps/applications/earbud/qcc512x_qcc302x/common/user_ps_filesystem.x2p.user
ADK_6.2.43/apps/fw/src/hydra_os_qcc512x_qcc302x.x2p.user
ADK_6.2.43/apps/libs/libs_qcc512x_qcc302x.x2p.user
ADK_6.2.43/audio/kalimba/kymera/build/kymera_audio.x2p.user
ADK_6.2.43/images/apps0_firmware/common/apps0_firmware.x2p.user
ADK_6.2.43/images/btss_firmware/wlp/btss_firmware.x2p.user
ADK_6.2.43/images/curator_firmware/common/curator_firmware.x2p.user